{% extends "layout.html" %}
{% block content %}
    <div class="controls">
        <div class="controls__tool">
            <a href="{{ url_for('viewLists') }}"><img src="{{ url_for('static', filename='img/return.png') }}" /></a>      
        </div>

        <div class="controls__tool controls__tool--right">
            <!-- <img src="{{ url_for('static', filename='img/delete.png') }}" /> -->
            <form action="{{ url_for('deleteList', listId = taskList.id) }}" method="POST" name="deleteList" autocomplete="off">
                {{ deleteForm.hidden_tag() }}
                {{ deleteForm.submit(class = 'controls__delete') }}
            </form>
        </div>
    </div>

    <div class="book book--under">
        <div class="book__line book__line--under">
            <div class="book__text">
                <h1 class="book__title book__title--white">{{ taskList.name }}</h1>
            </div>
        </div>

        {% if taskList.tasks is defined %}
            {% if taskList.tasks|selectattr('complete')|first %}
                <div class="book__line">
                    <span class="book__spine"></span>

                    <div class="book__text">
                        <a href="{{ url_for('viewCompleted', listId = taskList.id)}}" class="book__link book__link--white book__link--hover">
                            <div class="book__block">
                                <img src="{{ url_for('static', filename='img/tick-black.png') }}" class="complete"/>
                            </div>

                            <div class="book__block">
                                <div class="book__info">
                                    <span class="book__link-text">Completed ({{ taskList.tasks|selectattr('complete')|list|length }})</span>
                                </div>
                            </div>

                            <div class="book__block book__block--right">
                                <img src="{{ url_for('static', filename='img/arrow-black.png') }}" class="complete" />
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}


        {% for task in taskList.tasks %}
            {% if not task.complete %}
                <div class="book__line">
                    <span class="book__spine"></span>

                    <div class="book__text">
                        <div class="book__link book__link--white">
                            <div class="book__block">
                                <form action="{{ url_for('completeTask', listId = taskList.id) }}" method="POST" name="completeTask" autocomplete="off" class="book__form">
                                    {{ completeForm.csrf_token() }}
                                    {{ completeForm.taskId(value = task.id) }}
                                    {{ completeForm.submit(class = "book__submit") }}
                                </form>
                            </div>
    
                            <div class="book__block">
                                <div class="book__info">
                                    <span class="book__link-text">{{task.name}}</span>

                                    {% if task.dueDate %}
                                        <span class="book__link-text book__link-text--count">{{task.dueDate}}</span>
                                    {% endif %}
                                </div>
                            </div> 
                        </div>    
                    </div>    
                </div>
            {% endif %}
        {% endfor %}

        {% for n in range(4 - (taskList.tasks|length - taskList.tasks|selectattr('complete')|list|length))  %}
            <div class="book__line">
                <span class="book__spine"></span>

                <div class="book__text book__text--empty">

                </div>
            </div>
        {% endfor %}

        <div class="book__add book__add--modal book__add--close">
            <span>+</span>
        </div>
    </div>

    <div class="book__absolute-container">
        <div class="book book--absolute">
            <form action="{{ url_for('addTask', listId = taskList.id) }}" method="POST" name="addTask" autocomplete="off">
                {{ addForm.csrf_token() }}
                {{ addForm.taskList(value = taskList.id) }}

                <div class="book__line book__line--no-line">
                    <div class="book__text">
                        <div class="book__link book__link--white">
                            <div class="book__block book__block--fill">
                                <div class="book__info book__info--fill">
                                    <span class="book__link-text">{{ addForm.name(class = "book__name") }}</span>

                                    {% if addForm.name.errors %}
                                        {% for error in addForm.name.errors %}
                                            <span class="book__link-text book__link-text--count book__link-text--error">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}

                                    <!-- if you wanted a different style for the input on error / not error, 
                                    then put an else here with a different class and put the error input in the conditional-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="book__line book__line--no-line">
                    <div class="book__text">
                        <div class="book__link book__link--white">
                            <div class="book__block book__block--fill">
                                <div class="book__info book__info--fill">
                                    <span class="book__link-text book__link-text--count">{{ addForm.dueDate.label }}</span>
                                    <span class="book__link-text">{{ addForm.dueDate(class = "book__name") }}</span>
                                
                                    {% if addForm.dueDate.errors %}
                                        {% for error in addForm.dueDate.errors %}
                                        <span class="book__link-text book__link-text--count book__link-text--error">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="book__line book__line--no-line">
                    <div class="book__text">
                        {{ addForm.submit(class = "book__link book__link--green book__link--submit") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}