{% extends "layout.html" %}
{% block content %}
    <div class="controls">
        <div class="controls__tool">
            <a href="{{ url_for('viewTaskLists', listId = taskList.id) }}"><img src="{{ url_for('static', filename='img/return.png') }}" /></a>      
        </div>
    </div>


    <div class="book book--under">
        <div class="book__line book__line--under">
            <div class="book__text">
                <h1 class="book__title book__title--white">{{ taskList.name }} - Completed</h1>
            </div>
        </div>

        {% for task in taskList.tasks %}
            {% if task.complete %}
           
                <div class="book__line">
                    <span class="book__spine"></span>

                    <div class="book__text">
                        <div class="book__link book__link--white">
                            <div class="book__block">
                                <img src="{{ url_for('static', filename='img/tick-black.png') }}" class="complete"/>
                            </div>

                            <div class="book__block">
                                <div class="book__info">
                                    <span class="book__link-text">{{task.name}}</span>

                                    {% if task.dueDate %}
                                        <span class="book__link-text book__link-text--count">{{task.dueDate}}</span>
                                    {% endif %}
                                </div>
                            </div> 

                            <div class="book__block book__block--right">
                                <!-- <img src="{{ url_for('static', filename='img/delete-black.png') }}" /> -->
                                <form action="" method="POST" name="deleteTask" autocomplete="off" class="book__form">
                                    {{ form.csrf_token() }}
                                    {{ form.taskId(value = task.id) }}
                                    {{ form.submit(class = "book__delete") }}
                                </form>
                            </div>
                        </div>    
                    </div>    
                </div>

            {% endif %}
        {% endfor %}


        {% for n in range(4 - taskList.tasks|selectattr('complete')|list|length) %}
            <div class="book__line">
                <span class="book__spine"></span>

                <div class="book__text book__text--empty">

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
